<section id="about">
<div class="container">
        <div class="about-header">
            <h1 class="about-subtitle">About Me</h1>
        </div>
        <div class="about-content">
            <div class="about-image">
                <img class="about-img" src="Assets/images/Aboutme.jpg" alt="Purva Patel">
            </div>
            <div class="about-details">
                    <h4>I am Purva Patel, a motivated Networking and IT Security student at Ontario Tech University with a keen interest in the intersection of business and technology. I possess strong Python programming and networking skills, excellent problem-solving abilities, and I am a skilled communicator and collaborator. I am eager to make a positive impact in the dynamic fields of Cybersecurity and business.</h4>
                <div class="about-info">
                    <div class="about-info-item"><h4>Name: <span>Purva Patel</span></h4></div>
                    <div class="about-info-item"><h4>Education: <span>Ontario Tech University</span></h4></div>
                    <div class="about-info-item"><h4>Phone: <span>+1 9055983307</span></h4>
                    </div>
                    <div class="about-info-item"><h4>Email: <span>purvapatel4725@gmail.com</span></h4></div>
                    <div class="about-info-item"><h4>Address: <span>191 Nonquon Road, Oshawa, ON</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="VidContent">
            <video controls poster="Assets/images/Poster.png" style="max-width: 100%;">
                <source src="Assets/videos/AiVideo.mp4" type="video/mp4">
                <source src="Assets/videos/AiVideo.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video> 
        </div>
    </div>
</section>