<nav class="navbar fixed-bottom bg-dark">
  <div class="container-fluid">
    <h5 class="navbar-brand">&copy; 2023 by Purva Patel    |   <i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/purva-patel-78a10121b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a> <i class="fab fa-github"></i> <a href="https://github.com/Purvapatel4725">GitHub</a></h5>
  </div>
</nav>