<section id="contact">
    <div class="container">
            <form method="post" enctype="text/plain">
            <div class="ContactSys">
                <h1 id="contactMeHeading">Contact Me</h1>
                <label>Full Name:
                    <input class="Inside" type="text" placeholder="Full Name" name="Full Name" required>
                </label>
                <label>Mobile Number:
                    <input class="Inside" type="tel" placeholder="xxxxxxxxxx" maxlength="10" name="Phone Number" pattern="[0-9]{10}"  required>
                </label>
                <label>Email:
                    <input class="Inside" type="email" placeholder="xyz@abc.com" name="email address" required>
                </label>
                <label>Message:
                    <textarea class="Outside" placeholder="Enter your message here..." name="Custom message" required></textarea>
                </label>
                <label>
                    <button class="SubmitButton" type="submit">Submit</button>
                </label>
            </div>
        </form>
    </div>
</section>