<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <!-- full-size monitor style sheet-->
    <link href="/Contents/app.css" rel="stylesheet" type="text/css" media="only screen and (min-width:960px)">
    <!-- tablet style sheet-->
    <link href="/Contents/tablet.css" rel="stylesheet" type="text/css" media="only screen and (min-width:481px) and (max-width:959px)">
    <!-- phone style sheet-->
    <link href="/Contents/mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-width:480px)">
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'>
    <!--Font by google Kenia-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kenia&display=swap" rel="stylesheet">
    <!--Font by google Black Ops One-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <!--Font by google Cinzel-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <!--Font by google Orbitron-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <!--font by adobe-->
    <link rel="stylesheet" href="https://use.typekit.net/zhq4lgb.css">
</head>