<section id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img class="img-fluid" src="Assets/images/ProfPic.png" alt="Profile Picture">
                </div>
                <div class="col">
                    <h3>I'm</h3>
                    <h1>Purva Patel</h1>
                    <div class="typed-text">Ontario Tech University</div>
                </div>
            </div>
        </div>
</section>