<body>
<!--Main nav bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#home"><i class="fa-solid fa-house"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects"><i class="fa-solid fa-list-check"></i> Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact"><i class="fa-solid fa-address-book"></i> Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about"><i class="fa-solid fa-address-card"></i> About</a>
      </li>
    </ul>
  </div>
</nav>