<section id="projects">
  <div class="container">
    <h1 class="prj-title">Projects</h1>
    <div class="flex-container">
        <div class="box1">
        <h1>Python</h1>
        <article> 
        <ul>
        <li>In my first-year coding project, I developed a </li>
        <li>Python-based encryption and decryption tool that </li>
        <li>offers a diverse range of ciphers.</li>
        <li>This versatile </li>
        <li>application allows users to secure their text messages</li>
        <li> and confidential information using classic</li> 
        <li>and modern</li> 
        <li>encryption methods, providing a valuable learning experience</li> 
        <li>and practical utility</li>
        <li>for data privacy and security.</li>
        </ul>
        <br>
        </article>
        </div>
        <div class = "box2">
        <h1>Networking</h1>
        <article>
        <ul>
        <li>In my second-year networking project, I created an internet-connected</li> 
        <li>network, using various routing protocols to interconnect with peers' pods.</li> 
        <li>Security measures such as firewalls, encryption, and access controls were </li>
        <li>implemented to ensure data safety. This project exemplified my networking skills</li> 
        <li>and</li>
        <li>commitment to a secure communication environment.</li>
        </ul>
        <br>
        </article>
        </div>
      </div>
      <div class="grid-container">
        <div class="box3">
        <h1>Web Development</h1>
        <article>
        <ul>
        <li>In my second-year web development project, I created a comprehensive portfolio</li> 
        <li>website using HTML, CSS, JavaScript, and other web technologies. This project served</li> 
        <li>as an impressive showcase of my design and coding abilities, enabling me to present my</li> 
        <li>work, skills, and achievements in an engaging and interactive manner, fostering personal and</li> 
        <li>professional growth in the web development field.</li>
        </ul>
        <br>
        </article>
        </div>
        <div class="box3">
        <h1>Project Management</h1>
        <article>
        <ul>
        <li>In my project management class, I effectively led a dedicated team in orchestrating a</li> 
        <li>vibrant Carnival. We meticulously managed the budget, identified key stakeholders, handled </li>
        <li>logistics, and executed marketing strategies. Our collaborative efforts culminated in a comprehensive</li> 
        <li>final report, underscoring our exemplary teamwork and refined project management skills</li>
        </ul>
        <br>
        </article>
      </div>
    </div>
    </div>
</section>