<script src="/Scripts/app.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
<!--Ontario tech university animated text-->
<script>
  function typeTextAndPause() {
    const textElement = document.querySelector('.typed-text');
    const textToType = "Ontario Tech University";
    let index = 0;
    function updateText() {
      if (index <= textToType.length) {
        textElement.textContent = textToType.slice(0, index);
        index++;
      } else {
        setTimeout(() => {
          index = 0;
          textElement.textContent = "";
          updateText();
        }, 5000);
        return;
      }
      setTimeout(updateText, 100); 
    }
    updateText();
  }
  window.addEventListener('load', typeTextAndPause);
</script>

</body>
</html>
