body{
margin: 0;
padding: 0;
display: flex; /* Center content vertically and arrange it in a column */
flex-direction: column; /* Center content vertically and arrange it in a column */
min-height: 100vh; /* Ensure a minimum height of 100% of the viewport height */
}

.img-fluid{
margin-top: 200px;
margin-left: 180px;
margin-bottom: 250px;
width: 400px; /* Set the width of the logo */
height: 500px; /* Set the height of the logo */
max-width: 100%;
border: 5px solid black;
border-radius: 50%; /* Make it a circle */
overflow: hidden; /* Hide the overflowing parts of the image */
}


.container{
background-color: grey;
padding: 20px;
}

.col h1{
font-family: "filicudi-color-pride", sans-serif;
font-weight: 700;
font-style: normal;
}

.col h3, .col h1 , .col .typed-text{
margin-left: 60px;
margin-right: 400px;
text-align: left;
color: white;
}

.col h3{
margin-top: 370px;
}

.flex-container {
display: flex;
}

.box1, .box2 {
background-color: #333; /* Set your preferred box background color */
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
text-align: center;
flex: 1; /* Equal width for box 1 and box 2 */
padding: 10px; /* Add padding for some space between text and the box edges */
margin: 5px; /* Add a little margin for separation */
list-style-type: none;
}
.box3 {
background-color: #333; /* Set preferred box background color */
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
text-align: center;
padding: 10px; /* Add padding for some space between text and the box edges */
margin: 5px; /* Add a little margin for separation */
list-style-type: none;
margin-bottom: 10px;
}

.box1 h1, .box2 h1, .box3 h1{
color: white;
}

.box1 li, .box2 li, .box3 li{
color: black;
}

.prj-title{
text-align: center;
color: white;
margin-bottom: 60px;
}

.box1 ul, .box2 ul, .box3 ul{
    list-style-type: none;
}

form{
text-align: center;
}

label{
color: white;
}
    
.ContactSys {
max-width: 400px; 
margin: 0 auto;
padding: 25px;
border-radius: 5px;
text-align: center;
border: 2px solid black; /* Add a black border to the ContactSys container */
background-color: #333; /* Set preferred form background color */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
margin-bottom: 50px;
}
    
    
.SubmitButton{
background-color: rgb(27,15,37);
color: white;
display: inline-block;
box-sizing: border-box;
border-color: black;
align-items: center;
}
    
    
.ContactSys .Inside{
width: 100%;
margin: 8px 0;
padding: 12px 20px;
border-width: 10px;
}
    
    
.ContactSys h1{
text-align: center;
color: white;
margin-bottom: 30px;
padding: 10px; /* Padding inside the border */
}
    
    
.ContactSys .Outside{
width: 100%;
height: 150px;
margin: 8px 0;
padding: 100px 20px;
display: inline-block;
border-width: 10px;
}
    
    
.ContactSys .Outside::placeholder{
text-align: left;
vertical-align: top; /* Align the placeholder text at the top */
padding-top: 0; /* Remove any top padding for the placeholder text */
}
    
    
.ContactSys .SubmitButton:hover{
transform: scale(1.2); /* Zoom in by 20% on hover */
}
    
    
.ContactSys h2:hover{
text-decoration: none;
opacity: 1;
}
    
    
.ContactSys .SubmitButton{
height: 30px;
width: 70px;
cursor: pointer;
margin-top: 20px;
margin-bottom: 100px;
}
      
    
.about-header {
position: relative;
display: flex;
align-items: center;
justify-content: center;
}
    
.about-title {
font-size: 24px;
text-transform: uppercase;
color: #333;
-webkit-text-stroke: 1px #dee2e6;
}
    
.about-subtitle {
position: absolute;
color: white;
}
    
.about-content {
display: flex;
align-items: center;
}
    
.about-image {
flex: 1;
padding: 20px;
}
    
.about-img {
max-width: 100%;
border-radius: 5px;
border: 5px solid black;
overflow: hidden; 
margin-top:100px ;
}
    
.about-details {
flex: 2;
padding: 20px;
text-align: left;
}
    

    
.about-text {
color: #333;
}
    
.about-info {
flex-wrap: wrap;
margin-top: 20px;
display: inline-block;
}
    
.about-info-item {
flex: 1;
padding: 5px;
}
    
.about-info-item h6 {
margin: 0;
color: #333;
}
    
.about-info-item span {
color: #555;
}
    
.about-btn:hover {
background-color: #007bff;
color: #fff;
}
    
.VidContent{
max-width: 1500px;
margin: 0 auto;
text-align: center;
padding: 10px;
background-color: black;
margin-bottom: 50px;
}
        
        
video{
width: 100%;
max-height: 100%;
}


.navbar-brand{
color: grey !important;
align-items: baseline;
}

.box1 li, .box2 li, .box3 li{
color: grey;
}

.prj-title, #contactMeHeading, .about-subtitle, .about-text h4, .about-info{
font-family: 'Kenia'; 
}

.box1 h1, .box2 h1, .box3 h1{
font-family: 'Black Ops One';
}

.box1 article, .box2 article, .box3 article, .ContactSys label{
font-family: 'Cinzel';
}

.col .typed-text{
font-family: 'Orbitron';
}

.navbar-brand{
font-family: 'Blac Ops One';
}