@media only screen and (max-width: 480px){
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .img-fluid {
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    width: 80%;
    height: auto;
    max-width: 100%;
    border: 5px solid black;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .container {
    background-color: grey;
    padding: 5%;
  }
  
  .col h1 {
    font-family: "filicudi-color-pride", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }
  
  .col h3,
  .col h1,
  .col .typed-text {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    color: white;
  }
  
  .col h3 {
    margin-top: 10%;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box1, .box2, .box3 {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 1;
    padding: 5%;
    margin: 2.5%;
    list-style-type: none;
  }
  
  .box1 h1, .box2 h1, .box3 h1 {
    color: white;
  }
  
  .box1 li, .box2 li, .box3 li {
    color: black;
  }
  
  .prj-title {
    text-align: center;
    color: white;
    margin-bottom: 5%;
  }
  
  .box1 ul, .box2 ul, .box3 ul {
    list-style-type: none;
  }
  
  form {
    text-align: center;
  }
  
  label {
    color: white;
  }
  
  .ContactSys {
    max-width: 80%;
    margin: 0 auto;
    padding: 5%;
    border-radius: 5px;
    text-align: center;
    border: 2px solid black;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10%;
  }
  
  .SubmitButton {
    background-color: rgb(27,15,37);
    color: white;
    display: inline-block;
    box-sizing: border-box;
    border-color: black;
    align-items: center;
  }
  
  .ContactSys .Inside {
    width: 100%;
    margin: 2%;
    padding: 2% 5%;
    border-width: 5%;
  }
  
  .ContactSys h1 {
    text-align: center;
    color: white;
    margin-bottom: 5%;
    padding: 2%;
  }
  
  .ContactSys .Outside {
    width: 100%;
    height: 20%;
    margin: 2%;
    padding: 20% 5%;
    display: inline-block;
    border-width: 5%;
  }
  
  .ContactSys .Outside::placeholder {
    text-align: left;
    vertical-align: top;
    padding-top: 0;
  }
  
  .ContactSys .SubmitButton:hover {
    transform: scale(1.2);
  }
  
  .ContactSys h2:hover {
    text-decoration: none;
    opacity: 1;
  }
  
  .ContactSys .SubmitButton {
    height: 30px;
    width: 70px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  .about-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-title {
    font-size: 6%;
    text-transform: uppercase;
    color: #333;
    -webkit-text-stroke: 1px #dee2e6;
  }
  
  .about-subtitle {
    position: absolute;
    color: white;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .about-image {
    flex: 1;
    padding: 5%;
  }
  
  .about-img {
    max-width: 100%;
    border-radius: 5px;
    border: 5px solid black;
    overflow: hidden;
    margin-top: 10%;
  }
  
  .about-details {
    flex: 2;
    padding: 5%;
    text-align: left;
  }
  
  .about-text {
    color: #333;
  }
  
  .about-info {
    flex-wrap: wrap;
    margin-top: 5%;
    display: inline-block;
  }
  
  .about-info-item {
    flex: 1;
    padding: 5%;
  }
  
  .about-info-item h6 {
    margin: 0;
    color: #333;
  }
  
  .about-info-item span {
    color: #555;
  }
  
  .about-btn:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .VidContent {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-bottom: 10%;
  }
  
  video {
    width: 100%;
    max-height: 100%;
  }
  
  .navbar-brand {
    color: grey !important;
    align-items: baseline;
  }
  
  .box1 li, .box2 li, .box3 li {
    color: grey;
  }
  
  .prj-title, #contactMeHeading, .about-subtitle, .about-text h4, .about-info {
    font-family: 'Kenia';
  }
  
  .box1 h1, .box2 h1, .box3 h1 {
    font-family: 'Black Ops One';
  }
  
  .box1 article, .box2 article, .box3 article, .ContactSys label {
    font-family: 'Cinzel';
  }
  
  .col .typed-text {
    font-family: 'Orbitron';
  }
  
  .navbar-brand {
    font-family: 'Black Ops One';
  }
  .navbar h5 {
    font-size: 12px; 
  }
}